<app-header />

<main>
  <ul id="users">
    <li id="search">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Search</mat-label>
        <input matInput [formControl]="searchQuery" />
        <button *ngIf="searchQuery.value" matSuffix mat-icon-button (click)="searchQuery.reset()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button color="primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>
        Create New
      </button>
    </li>
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)" />
    </li>
    }
  </ul>

  @if (selectedUser) {
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" [searchQuery]="search"/>
  } @else if (search) {
  <app-tasks [name]="'Search Results'" [searchQuery]="search"/>
  } @else {
  <p id="fallback">Select a user to see their tasks!</p>
  }
</main>